@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;0,700;1,400&family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500&display=swap');

@font-face {
    font-family: 'Prism-Regular';
    src: url('../fonts/37D285_0_0.eot');
    src: url('../fonts/37D285_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/37D285_0_0.woff2') format('woff2'), url('../fonts/37D285_0_0.woff') format('woff'), url('../fonts/37D285_0_0.ttf') format('truetype');
}

body,
html {
    font-family: Karla, sans-serif;
}
